{% extends "base.html" %}

{% block title %}Contribute{% endblock %}

{% block page_title %}
Log into your account
{% endblock %}

{% block page_subtitle %}
Welcome back!
{% endblock %}

{% block content %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <p>
      To view your collected data, please log in by entering your private user token.<br>

      Don't have an account yet? <a href="{{ url_for('user.register') }}">Register!</a><br>

      Forgot your private user token? <a href="{{ url_for('user.send_token') }}">Get it back here!</a>
    </p>
  </div>

  <div class="cell medium-6 medium-offset-3 large-4 large-offset-4">
    <form id="login-form" action="#" method="post">
      <label for="user_token">Your private user token</label>
      <div class="input-group">
        <input name="user_token" type="text" class="input-group-field" placeholder="rabbit-rabbit-rabbit-rabbit-rabbit-rabbit">
        <div class="input-group-button">
          <input type="submit" class="button" value="Confirm">
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}