{% extends "base.html" %}

{% block title %}Contribute{% endblock %}


{% block page_title %}
Your profile
{% endblock %}

{% block page_subtitle %}
Make yourself at home
{% endblock %}


{% block content %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <p>
      <ul>
        <li>Your token: <code class="token">{{ g.user.user_token }}</code></li>
        {% if g.user.email != "" %}
        <li>Your e-mail: {{ g.user.email }}</li>
        {% endif %}
      </ul>
    </p>
  </div>
  <div class="large-12 cell">
    {% if svg_timeline %}
    <h2>Timeline of your e-squad's usage</h2>

    <div class="profile-timeline">
      {{ svg_timeline|safe }}
    </div>
    {% endif %}

    {% if events %}
    <h2>Raw data</h2>
    <table>
      <thead>
        <tr>
          <th>Device name</th>
          <th>Device Type</th>
          <th>Event type</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr>
          <td>{{ event.device_token }}</td>
          <td>{{ event.device_type }}</td>
          <td>{{ event.event_type }}</td>
          <td>{{ event.local_time }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% endblock %}