{% extends "base.html" %}

{% block title %}Contribute{% endblock %}


{% block page_title %}
How to contribute
{% endblock %}

{% block page_subtitle %}
Give your data to science
{% endblock %}


{% block content %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">

    <h2>1 - Get your token</h2>
    <p>
      We generated a <em>private user token</em> for you. It is the only identifier we keep of your existence. With this token, you will be able to register your devices to the data collection, browse your data, and even delete your records if you want us to.

      <ul>
        <li><b>Note it down</b>: we ask it to identify yourself everywhere!</li>
        <li><b>Do not share it</b>: anyone that knows your token will have complete control over your data.</li>
      </ul>

      Optionally, you can provide your e-mail address: it will be used if you forget your token.<br><br>
      <!-- , and to contact you for (rare) updates on our work.<br><br> -->

      Ready?
    </p>


    {% if created %}
    <div id="registered" class="callout primary">
      <p>Successfully registered!</p>
      <ul>
        <li>Your token: <code class="token">{{ g.user.user_token }}</code></li>
        {% if g.user.email %}
        <li>Your e-mail: {{ g.user.email }}</li>
        {% endif %}
      </ul>
    </div>
    {% elif g.user %}
    <div id="already-logged-in" class="callout primary">
      <p>
        You are already connected with the token: <code class="token">{{ g.user.user_token }}</code><br>
        <a href="{{ url_for('user.logout') }}">Disconnect</a> first if you want to create a new account.
      </p>
    </div>
    {% else %}
    <form id="register-form" action="#" method="post">
      <div class="grid-container full">
        <div class="grid-x align-center">
          <div class="cell medium-6 large-4">
            <label for="user_token">Private user token (cannot be modified)</label>
            <input name="user_token" id="user_token" type="text" readonly value="{{ user_token }}">
          </div>
          <div class="cell large-12"></div>
          <div class="cell medium-6 large-4">
            <label for="email">E-mail address (optional)</label>
            <input name="email" id="email" type="text" placeholder="jon@doe.com">
            <input type="submit" class="button" value="Register">
          </div>
        </div>
      </div>
    </form>
    {% endif %}

    <h2>2 - Download the app</h2>

    <p>
      The more devices provided for a single user, the more useful to us! Nobody registered their smart-TV yet; will you be the first?<br>
      We support the following operating systems:
    </p>

    <div id="platforms" class="grid-container">
      <div class="grid-x grid-padding-x small-up-2 medium-up-3 large-up-4">
        <div class="cell">
          <a href="https://gitlab.inria.fr/aluxey/esquads-collector/-/tree/master/android" target="_blank">
            <div class="card">
              <img src="{{ url_for('static', filename='images/platforms/android.svg') }}">
              <div class="card-section">
                <h4>Android</h4>
                <p>Wee! This is the only implemented platform!<br>
                  Thank you David ;)</p>
              </div>
            </div>
          </a>
        </div>
        <div class="cell">
          <a href="#">
            <div class="card">
              <img src="{{ url_for('static', filename='images/platforms/linux.svg') }}" alt="Linux pinguin">
              <div class="card-section">
                <h4>Other platforms</h4>
                <p>Future works. Help wanted!</p>
              </div>
            </div>
          </a>
        </div>
        {#
        <div class="cell">
          <a href="#">
            <div class="card">
              <img src="{{ url_for('static', filename='images/platforms/windows.svg') }}">
              <div class="card-section">
                <h4>Windows Desktop</h4>
                <p>Must be hard, heh?</p>
              </div>
            </div>
          </a>
        </div>
        <div class="cell">
          <a href="#">
            <div class="card">
              <img src="{{ url_for('static', filename='images/platforms/apple.svg') }}">
              <div class="card-section">
                <h4>Mac Desktop</h4>
                <p>My dog makes better life choices...</p>
              </div>
            </div>
          </a>
        </div>
        <div class="cell">
          <a href="#">
            <div class="card">
              <img src="{{ url_for('static', filename='images/platforms/linux.svg') }}">
              <div class="card-section">
                <h4>Linux Desktop</h4>
                <p>Now we're talking!</p>
              </div>
            </div>
          </a>
        </div>
        <div class="cell">
          <a href="#">
            <div class="card">
              <img src="{{ url_for('static', filename='images/platforms/apple.svg') }}">
              <div class="card-section">
                <h4>Apple phone or tablet</h4>
                <p>Foldable plates, ain't it?</p>
              </div>
            </div>
          </a>
        </div>
        #}
      </div>
    </div>

    <h2>3 - Use your devices normally</h2>
    <p>
      You can come back to this site anytime to add a new device or browse your data.
    </p>

  </div>
</div>
{% endblock %}