{% extends "base.html" %}

{% block title %}Retrieve your token{% endblock %}


{% block page_title %}
Forgot your token?
{% endblock %}

{% block page_subtitle %}
Get it back!
{% endblock %}


{% block content %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <p>
      If you provided your e-mail address when registering, we can send your private user token to this address. Otherwise, please <a href="{{ url_for('user.register') }}">generate a new token</a>, and update it on all your devices to keep contributing data.
    </p>
  </div>

  <div class="cell medium-6 medium-offset-3 large-4 large-offset-4">
    <form id="forget-form" action="#" method="post">
      <label for="email">Your e-mail address</label>
      <div class="input-group">
        <input name="email" type="text" class="input-group-field" placeholder="jon@doe.com">
        <div class="input-group-button">
          <input type="submit" class="button" value="Confirm">
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}