{% extends "base.html" %}

{% block title %}403 Permission denied{% endblock %}


{% block page_title %}Error 403{% endblock %}

{% block page_subtitle %}Permission denied{% endblock %}

{% block content %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <p>
      A random office door stands upon you, closed. It looks like The Matrix, except you are not The One.<br><br>

      <a href="/">Go back?</a>
    </p>
  </div>
</div>
{% endblock %}