{% extends "base.html" %}

{% block title %}404 Page not found{% endblock %}


{% block page_title %}Error 404{% endblock %}

{% block page_subtitle %}Page not found{% endblock %}

{% block content %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <p>
      You stand at the edge of the web. Beyond, cathodic birds are singing songs of static &ndash; but you cannot reach them.<br><br>

      <a href="/">Go back?</a>
    </p>
  </div>
</div>
{% endblock %}