{% extends "base.html" %}

{% block title %}500 Internal server error{% endblock %}


{% block page_title %}Error 500{% endblock %}

{% block page_subtitle %}Internal server error{% endblock %}

{% block content %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <p>
      The cafeinated monkey in charge of our server is currently mischieving or overwhelmed. Let's hope it gets better soon...<br><br>

      <a href="/">Go back?</a>
    </p>
  </div>
</div>
{% endblock %}