{% extends "base.html" %}

{% block title %}Welcome{% endblock %}


{% block page_title %}
E-Squads Collector
{% endblock %}

{% block page_subtitle %}
A scientific data collection project
{% endblock %}

{% block content %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <p>
      In the digital era, we spend much of our time facing screens &ndash; be it a mobile, laptop, smart-TV, or else.<br><br>

      The screen is most often a mere front interface of a remote, "cloud" service. Reading the news? Cloud. Communication? Cloud. File exchange? Entertaining? You know the drill...<br><br>

      Although the cloud model is convenient, it poses major threats to the human right to privacy, while consuming daunting amounts of energy in data centres.<br><br>

      As we observe the proliferation of capable connected devices per individual, we wonder:

    </p>
    <p id="big-question" class="text-center">
      Could our appliances collaborate to offer service &ndash; without resorting to remote servers beyond our control?
    </p>
    <p>
      Towards this goal, we propose the concept of <b>the e-squad</b> as <i>the set of connected appliances owned by a single individual, and rendered intelligent through device-to-device communication.</i>
      By gathering information on its user, the e-squad can learn its own dynamics, predict its future state, and provide smart and reliable services.
      By ensuring the data remains on the user's devices, the e-squad’s knowledge benefits its owner in complete privacy.
      <br><br>

      To realise e-squads in practice, we face two main challenges:

      <ol>
        <li>
          <b>To execute arbitrary software on user appliances:</b>
          Every connected device is basically a computer &ndash; with a processor, volatile memory (RAM) and persistent storage, but each device type differs wildly in the freedom it gives to user applications.
          The computer is usually the most permissive kind of system, while mobile devices tend to restrict the capabilities of installed software (applications might be arbitrarily suspended by the system for e.g. battery considerations).
          Going further, can we even ask our connected TV or coffee machine to run applications of our liking?
        </li>
        <li>
          <b>To model the dynamics of the <i>e-squad</i>:</b>
          To host services on a cohort of user appliances, we first need to understand how the people &ndash; you &ndash; use their devices. We need to know when are your appliances available for hosting services (i.e. when fixed devices are online; when mobiles are in charge), and the relations between each device's availability.
        </li>
      </ol>

      <b>E-squads Collector</b> is a scientific data collection initiative that aims at solving the second challenge.
      But, since our mission requires to develop a data collection application for each studied device type, we are gathering insight on the first challenge in the meantime.<br><br>

      Are you ready to help?
    </p>
  </div>

  <div id="contribute" class="large-12 cell">
    <a class="button" href="{{ url_for('user.register') }}">Contribute now</a>
  </div>

  <div class="large-12 cell">
    <p>
      Being privacy enthusiasts ourselves, <b>we collect the strict minimum for our study, and took serious measures to ensure your data remains anonymous</b>. Our <a href="/privacy">privacy policy</a> and <a href="https://gitlab.inria.fr/aluxey/esquads-collector" target="_blank">source code</a> bear witness.

      {#
      For more information about our work, make sure you read <a href="/project">our project's description page</a>!
      #}
    </p>
  </div>

  <div class="large-12 cell">
    <h3>References</h3>
    <ul>
      <li>
        Adrien Luxey: <a href="https://hal.inria.fr/tel-02389297" taget="_blank">E-squads : a novel paradigm to build privacy-preserving ubiquitous applications</a>. PhD thesis, Université de Rennes 1 (Nov. 2019).
      </li>
    </ul>
  </div>

  {#
  <div class="medium-4 cell">
    <h3>Why?</h3>
    <img src="{{ url_for('static', filename='images/question_mark.png') }}" alt="Question?" />
    <p>I don't know what to say here.</p>
  </div>

  <div class="medium-4 cell">
    <h3>How?</h3>
    <img src="{{ url_for('static', filename='images/question_mark.png') }}" alt="Question?" />
    <p>I don't know what to say here.</p>
  </div>

  <div class="medium-4 cell">
    <h3>When?</h3>
    <img src="{{ url_for('static', filename='images/question_mark.png') }}" alt="Question?" />
    <p>I don't know what to say here.</p>
  </div>
  #}
</div>
{% endblock %}