{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block header %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <div class="grid-x grid-padding-x align-justify">
      <div class="cell auto">
        <h1>Privacy Policy</h1>
      </div>
      <div class="cell shrink">
        <h1><small>We care</small></h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <p><i>
        This page presents all information we might collect about you.<br>
        The project being under active development, it is poorly written, but the collected data will likely not change.
      </i></p>
  </div>
  <div class="large-12 cell">
    <h2>When you use our software</h2>
    <p>
      <ul>
        <li>
          <b>E-mail address:</b>
          Upon inscription, you <i>can</i> &ndash; but are not obliged to &ndash; provide an e-mail address. This address would only be used to send a reminder of your private user token, would you forget it. We might use it for newsletters at a later time, in which case this privacy policy would change.
        </li>
        <li>
          <b>Device information:</b>
          Your device is uniquely identified with a token resembling the private user token.<br>
          We also store the <i>type</i> of device you are using, that is: <i>computer</i> or <i>iOS smartphone</i> or <i>Android smartphone</i> or <i>smart fridge</i> etc.
        </li>
        <li>
          <b>Usage metrics:</b>
          Our data collection is interested in knowing your devices' usage. The collected data differs from one device type to another, but we basically want to know <i>when each of your devices is available for providing network service</i>.<br>
          For example, on a computer, we consider that your device is <i>available</i> when it is connected to the Internet, regardless of the battery status. On a mobile phone, we want to know when it is connected to the Internet <i>and</i> plugged in: your mobile would only assist the <i>e-squad</i> when on charge.<br>
          {#
          We might store both information independently (we might know every time you plug your device in or out &ndash; use this knowledge to flood your database if you wish).<br>
          #}
          In summary: at most, we want to know every time your device connects or disconnects from the Internet, and every time it is plugged in or out.
        </li>
        <li>
          <b>Logging:</b>
          The law demands that we keep logs of who exchanged data with our server and when, for the last year. This is actually the most compromising information we have on you, and this applies for any network application you use. We keep: your IP address, your device model, the version of the <i>E-squads Collector</i> app you have installed, and a timestamp.
        </li>
      </ul>
    </p>
    <div class="large-12 cell">
      <h2>When you browse our website</h2>
      <p>
        <ul>
          <li>
            <b>We uses cookies:</b>
            When you log into your user account on our website, we store your private user token on your browser as an infamous <i>cookie</i>.
            This cookie allows you to access your <a href="{{ url_for('user.profile') }}">Profile</a> page and visualise the data we collected about you. No more, no less.
          </li>
          <li>
            <b>No third-parties:</b>
            We do not exchange any information to anyone about our website usage. No third-party analytics, no external fonts, etc. You can still be tracked by your Internet Service Provider and our hosting provider (<a href="https://gandi.net" target="_blank">Gandi</a>), as is the case for any website hosted on a third-party computer.
          </li>
          <li>
            <b>Logging:</b>
            The law demands that we keep logs of who visited our site and when. This is actually the most compromising information we have on you, and this applies for any website you browse online. We keep: your IP address, device information and browser information; page visited; timestamp.
          </li>
        </ul>
      </p>
    </div>
  </div>
  {% endblock %}