{% extends "base.html" %}

{% block title %}Project's details{% endblock %}


{% block page_title %}
Project's details
{% endblock %}

{% block page_subtitle %}
Everything about e-squads
{% endblock %}

{% block content %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h2>What data are we collecting?</h2>
    <p>Not much, you will see.</p>

    <h2>For which purpose?</h2>
    <p>We will soon make a kickass explanation!</p>
  </div>
</div>
{% endblock %}