version: "3.6"

services:
  backend:
    image: {{ docker_registry_url }}/esquads_backend
    restart: always 
    networks:
      net:
        ipv4_address: {{ packages_ip.esquads_backend }}
    environment:
      - FLASK_SECRET_KEY={{ lookup('password', '/dev/null chars=ascii_letters,digits length=48') }}
      - FLASK_INSTANCE_PATH=/usr/src/app/instance
      - FLASK_RUN_PORT=5000
    volumes:
      - $HOME/{{ app.path.data }}:/usr/src/app/instance

  frontend:
    image: {{ docker_registry_url }}/esquads_frontend
    restart: always 
    networks:
      net:
        ipv4_address: {{ packages_ip.esquads_frontend }}
    environment:
      - FLASK_SECRET_KEY={{ lookup('password', '/dev/null chars=ascii_letters,digits length=48') }}
      - API_ADDR=http://backend:5000
      - FLASK_RUN_PORT=5000


networks:
  net:
    ipam:
      driver: default
      config:
        - subnet: {{ packages_subnet_cidr }}