.top-bar .site-title {
  font-family: 'Comic Sans MS';
  font-weight: bold;
  color: #fefefe;
  font-size: 1.6rem;
}

.top-bar .top-bar-right .menu li .button {
  margin-left: .5rem;
}

.flashed-message {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#big-question {
  font-size: 1.25rem;
}

#contribute {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

#contribute>.button {
  font-size: 1.5rem;
}

#register-form {
  margin: 1rem 0;
  text-align: center;
}

#register-form input {
  text-align: center;
}

#register-form input#user_token {
  cursor: auto;
  background-color: inherit;
  font-size: 1.2rem;
  height: 3rem;
  box-shadow: none;
}

#platforms .card img {
  height: 5rem;
  margin: 2rem 0;
}

#forget-form,
#login-form {
  margin-top: 2em;
}


#footer {
  border-top: 1px solid #888;
  margin-top: 3rem;
  padding-bottom: 1.2rem;
}

#footer .menu {
  padding-top: 1.2rem;
}

#footer .menu a {
  line-height: inherit;
}

.profile-timeline {
  text-align: center;
  margin-bottom: 2rem;
}